<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee List</title>

<!-- @ symbol reference application root -->
<!-- <link rel="stylesheet" th:href="@{/css/demo.css}"> -->

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container">

<h3>Employee Directory</h3>

<hr/>

<a th:href="@{/employees/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
		<i class="fas fa-user-plus ml-2">Add Employee</i></a>

<table class="table table-bordered table-striped">
	<thead class="thead-dark">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tempEmp : ${employees}">
			<td th:text="${tempEmp.firstName}"/>
			<td th:text="${tempEmp.lastName}"/>
			<td th:text="${tempEmp.email}"/>
			
			<td>
				<a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmp.id})}" class="btn btn-info btn-sm">Update <i class="fas fa-user-edit ml-2"></i></a>
				
				<a th:href="@{/employees/delete(employeeId=${tempEmp.id})}" class="btn btn-danger btn-sm"
							onclick="return confirm('Are you sure you want to delete employee?')">Delete<i class="fas fa-user-times ml-2"></i></a>
			</td>
		</tr>
	</tbody>
</table>

</div>

</body>
</html>